$mdc-theme-primary: #40c4ff;
$mdc-theme-secondary: #fdd835;
$mdc-theme-on-primary: rgba(0, 0, 0, 0.87);
$mdc-theme-on-secondary: rgba(0, 0, 0, 0.87);
$mdc-theme-secondary-dark: #c6a700;
$mdc-theme-primary-dark: #0094cc;

$mdc-typography-font-family: 'Raleway', sans-serif;
$titles-font-family: 'Montserrat', sans-serif;

$mdc-typography-styles-headline1: (font-family: $titles-font-family);
$mdc-typography-styles-headline2: (font-family: $titles-font-family);
$mdc-typography-styles-headline3: (font-family: $titles-font-family);
$mdc-typography-styles-headline4: (font-family: $titles-font-family);
$mdc-typography-styles-headline5: (font-family: $titles-font-family);
$mdc-typography-styles-headline6: (font-family: $titles-font-family);
$mdc-typography-styles-subtitle1: (font-family: $titles-font-family);
$mdc-typography-styles-subtitle2: (font-family: $titles-font-family);

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Raleway:300,400,500,600,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import "@material/typography/mdc-typography";
@import "@material/tab-bar/mdc-tab-bar";
@import "@material/tab-scroller/mdc-tab-scroller";
@import "@material/tab-indicator/mdc-tab-indicator";
@import "@material/tab/mdc-tab";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/list/mdc-list";
@import "@material/card/mdc-card";
@import "@material/button/mdc-button";
@import "@material/icon-button/mdc-icon-button";
@import "@material/chips/mdc-chips";
@import "@material/elevation/mdc-elevation";

.mdc-chip{
  @include mdc-chip-fill-color($mdc-theme-secondary);
  @include mdc-chip-ink-color($mdc-theme-on-secondary);
  @include mdc-chip-leading-icon-color($mdc-theme-secondary-dark, 1);
  opacity: 0.87;
  &:hover {
    opacity: 1;
  }
}

%no-margin {
  margin: 0;
}
%no-padding {
  padding: 0;
}

body {
  background-color: #f2f2f2;
  overflow: hidden;
  margin: 0;
  &.preload * {
    transition: none;
  }
}
.mdc-tab-bar {
  @include mdc-elevation(4);
  position: fixed;
  top:0;
  z-index: 10;
  background-color: #f2f2f2;
  width: 100%;
  .mdc-tab-scroller {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .mdc-tab {
    .when-not-active {
      opacity: 0.6;
      transition: 250ms;
    }
    .when-active {
      opacity: 0;
      transition: 250ms;
      margin-left: -24px;
    }
    &.mdc-tab--active {
      .when-not-active {
      opacity: 0;
      transition: 250ms;
      }
      .when-active {
        opacity: 1;
        transition: 250ms;
      }
    }
  }
}
@media (max-width: 628px) {
  .mdc-tab .mdc-tab__content .mdc-tab__text-label {
    display: none;
  }
}
@media (min-width: 629px) {
  .tab-content-container .mdc-tab-content .mdc-tab__text-label {
    display: none;
  }
}
.tab-content-container .mdc-tab-content .mdc-tab__text-label h2 {
  text-align: center;
}

.tab-content-container {
  position: absolute;
  top:48px;
  width: 100%;
  overflow-y: scroll;
  height: calc(100% - 48px);
  display: flex;
  align-items: center; /* horizontal */
  justify-content: center; /* vertical */
  .mdc-tab-content {
    opacity: 0;
    max-height: 0;
    max-width: 1200px;
    // margin-left: auto;
    // margin-right: auto;
    &.active {
      opacity: 1;
      max-height: calc(100% - 48px);
      transition: 250ms;
    }
    &.inactive {
      display: none;
    }
  }
}

.mdc-tab__ripple.mdc-ripple-upgraded--background-focused::before {
  opacity: 0;
}

.mdc-layout-grid__cell--multiple-lines {
  > div {
    margin-bottom: 24px;
  }
  > div:last-child {
    margin-bottom: initial;
  }
}

.mdc-card {
  border-radius: 16px;
}

.card-content-primary {
  border-radius: 16px 16px 0 0;
  padding: 1rem;
  background-color: $mdc-theme-primary;
  color: $mdc-theme-on-primary;
  h2, h3 {
    @extend %no-margin;
  }
}
.card-content-secondary {
  padding: 0 1rem 8px;
  color: $mdc-theme-on-primary;
  div {
    @extend %no-margin;
  }
  ul {
    @extend %no-padding;
  }
  p {
    line-height: 1.25rem;
    letter-spacing: 0.00937em;
  }
  .mdc-chip-set {
    padding: 0px;
    .mdc-chip{
      margin-left: 0px;
      margin-right: 8px;
      cursor: default;
    }
  }
}

.mdc-list {
  font-family: $mdc-typography-font-family;
}
.mdc-list-item {
  margin-top: 12px;
  margin-bottom: 12px;
  height: auto;
  h4 {
    margin: 0;
  }
}
.mdc-list-item.mdc-list-item--wrap {
  flex-wrap: wrap;
  > .mdc-chip-set {
    width: 100%;
  }
}
.mdc-list--two-line {
  .mdc-list-item {
    height: 100%;
    padding-bottom: 16px;
    padding-top: 8px;
    margin:0;
    &:first-child {
      padding-top: 16px;
    }
  }
}
.mdc-list-item__text,
.mdc-list-item__secondary-text {
  white-space: normal;
}
.mdc-list-item__graphic {
  margin-right: 16px;
  height: 100%;
  margin-bottom: auto;
}
.mdc-list-item__graphic.mdc-list-item__graphic--right {
  margin-left: auto;
  margin-right: 0px;
}
.mdc-list-item__text--left {
  max-width: calc(100% - 36px);
}
// remove clic effect on lists & chips
:not(.mdc-list--non-interactive) > .mdc-list-item:hover::before,
:not(.mdc-list--non-interactive) > .mdc-list-item:not(.mdc-ripple-upgraded):active::after,
.mdc-chip:hover::before,
.mdc-chip:not(.mdc-ripple-upgraded):active::after {
  opacity: 0;
}

.mdc-icon-button {
  color: $mdc-theme-secondary;
  opacity: 0.54;
  &:hover {
    opacity: 0.87;
  }
  &[title="github"]:hover {
    opacity: 1;
  }
}
.mdc-icon-button:not(.mdc-ripple-upgraded):focus::before,
.mdc-icon-button.mdc-ripple-upgraded--background-focused::before,
.mdc-icon-button:not(.mdc-ripple-upgraded):active::after {
  opacity: 0;
}
.material-icons.in-title {
  margin-right: 4px;
  vertical-align: bottom;
  cursor: default;
  color: $mdc-theme-primary-dark;
}

.material-icons.in-text-green {
  vertical-align: text-bottom;
  cursor: default;
  color: #4caf50;
  height: 21px;
}

.my-card {
  background-color: $mdc-theme-primary;
  opacity: 0.87;
  background-image: url(img/person.svg);
  background-size: auto calc(100% - 32px);
  background-position-y: top;
  &::before {
    margin-top: 160px;
  }
  .my-name {
    color: #ffffff;
    text-align: center;
  }
}

.social-networks .mdc-icon-button:hover path {
  fill-opacity: 0.87;
}

// flags from https://www.phoca.cz/cssflags/
/* france */
.fr {
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA5MDAgNjAwIj4NCjxwYXRoIGZpbGw9IiNlZDI5MzkiIGQ9Im0wLDBoOTAwdjYwMGgtOTAweiIvPg0KPHBhdGggZmlsbD0iI2ZmZiIgZD0ibTAsMGg2MDB2NjAwaC02MDB6Ii8+DQo8cGF0aCBmaWxsPSIjMDAyMzk1IiBkPSJtMCwwaDMwMHY2MDBoLTMwMHoiLz4NCjwvc3ZnPg0K');
  width: 18px;
  height: 12px;
  display: inline-block;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: left top;
}
/* united_kingdom */
.gb {
  background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNjAgMzAiIGhlaWdodD0iNjAwIj4NCjxkZWZzPg0KPGNsaXBQYXRoIGlkPSJ0Ij4NCjxwYXRoIGQ9Im0zMCwxNWgzMHYxNXp2MTVoLTMwemgtMzB2LTE1enYtMTVoMzB6Ii8+DQo8L2NsaXBQYXRoPg0KPC9kZWZzPg0KPHBhdGggZmlsbD0iIzAwMjQ3ZCIgZD0ibTAsMHYzMGg2MHYtMzB6Ii8+DQo8cGF0aCBzdHJva2U9IiNmZmYiIHN0cm9rZS13aWR0aD0iNiIgZD0ibTAsMGw2MCwzMG0wLTMwbC02MCwzMCIvPg0KPHBhdGggc3Ryb2tlPSIjY2YxNDJiIiBzdHJva2Utd2lkdGg9IjQiIGQ9Im0wLDBsNjAsMzBtMC0zMGwtNjAsMzAiIGNsaXAtcGF0aD0idXJsKCN0KSIvPg0KPHBhdGggc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjEwIiBkPSJtMzAsMHYzMG0tMzAtMTVoNjAiLz4NCjxwYXRoIHN0cm9rZT0iI2NmMTQyYiIgc3Ryb2tlLXdpZHRoPSI2IiBkPSJtMzAsMHYzMG0tMzAtMTVoNjAiLz4NCjwvc3ZnPg0K');
  width: 24px;
  height: 12px;
  display: inline-block;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: left top;
}