@import "tailwindcss";

@theme {
  --color-yellow-500: rgb(234, 179, 8);
  --color-teal-500: rgb(20, 184, 166);
}

@utility bg-linear-to-br {
  @supports (background-image: linear-gradient(in lab, red, red)) {
    --tw-gradient-position: to bottom right !important;
  }
}
